  <%= form_with model:group, local:true do |f| %>
      <div class="form_group">
      <%= f.label :グループ名 %>
      <%= f.text_field :name, class:"form_control name" %>
    </div>
    <div class="form_group">
      <%= f.label :紹介文 %>
      <%= f.text_area :introduction, class:"form_control introduction" %>
    </div>
    <div class="form_group">
      <%= f.label :グループ画像 %>
      <%= f.file_field :image, class:"form_copntrol image" %>
    </div>
    <div class="form_group">
      <%= f.submit class:"btn btn-info" %>
    </div>
  <% end %>